<h1>Propiedades | Property Binding</h1>
<button [disabled]="btnDisabled">Enviar</button>

<input type="text" [value]="persona.nombre"/>

<progress [value]="persona.edad" max="100"></progress>
<img [src]="persona.avatar" width="100">
<hr>

<h1>Eventos | Event binding</h1>

<button (click)="btnActivar()">Botón para activar</button>
<p>Edad: {{ persona.edad }}</p>
<button (click)="btnEdad()">Incrementar edad</button>

<div class="box" (scroll)="onScroll($event)">
  <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nemo reiciendis minima odit asperiores dolores provident, porro, illo beatae est voluptatibus fuga aperiam! Ab unde cum dolorum saepe minus natus consequuntur.</p>
</div>

<input type="text" [value]="persona.nombre" (keyup)="cambiarNombre($event)" />

<hr/>

<h1>ngModel</h1>

<b>Nombre: {{persona.nombre }}</b>
<br>
<input type="text" required #nameInput="ngModel" [(ngModel)]="persona.nombre" />
<p>Válida: {{ nameInput.valid }}</p>
<br>

<b>Edad: {{persona.edad }}</b>
<br>

<input type="number" max="70" min="18" required #edadInput="ngModel" [(ngModel)]="persona.edad" />
<p>Válida: {{ edadInput.valid }}</p>
<br>
<hr />
<h1>*ngIf | [ngSwitch]</h1>
<input type="text" required [(ngModel)]="persona.nombre" />
<p *ngIf="persona.nombre === 'Gabriel'">Soy Gabriel</p>
<p *ngIf="persona.nombre === 'Leandro' && persona.edad === 8; else otroBloque">Soy Leandro</p>
<br>
<ng-template #otroBloque>
  <p>No soy nadie!!!</p>
</ng-template>

<h1>[ngSwitch]</h1>
<div [ngSwitch]="persona.nombre">
  <p *ngSwitchCase="'Gabriel'">Soy Gabriel usando ngSwitch</p>
  <p *ngSwitchCase="'Viviana'">Soy Viviana usnado ngSwitch</p>
  <p *ngSwitchDefault>No coincide</p>
</div>

<br>
<h1>ngFor</h1>
<input type="text" required [(ngModel)]="nuevoNombre">
<button (click)="agregarNombre()">Agregar nombre</button>
<ul>
  <li *ngIf="nombres.length === 0">No hay elementos</li>
  <li *ngFor="let nombre of nombres; index as i">
    Índice: {{i}} - {{nombre}}
    <button (click)="borrarNombre(i)">Borrar</button>
  </li>
</ul>
<br>

<h1>ngFor para objetos, funciona en objetos iterables</h1>
<div>
  <div *ngFor="let producto of productos">
    <img width="250" [src]="producto.imagen" alt="imagen">
    <h2>{{producto.precio}}</h2>
    <p>{{producto.nombre}}</p>
  </div>
</div>
<br>

<h1>String interpolation</h1>
<h1>Hola mundo</h1>
<h2>{{ 'Hola mundo'.repeat(5) }} </h2>
<p>3 +3 = {{3 +3 }}</p>
<h2>{{ name }}</h2>
<h3>{{ age }}</h3>

<img src={{imagen}} alt="imagen al azar">
